<div class="section-wrapper">
  <section class="section about" id="about">
    <div id="about-text">
      <div class="section-heading">About</div>
      <p class="paragraph-text justify-text">
        <br />제주대학교 컴퓨터공학전공 23년 2월 졸업 예정이며<br />React, Node.js, Express.js, AWS EC2와 Docker 경험이 있습니다.
      </p>
      <p class="paragraph-text justify-text">
        문제 해결을 위해 에러 코드를 활용해 검색을 해서 방법을 찾고<br />해결이 되면 어떤 것이 문제였는지 다시 돌아보는 것이 저의 장점입니다.<br />프론트엔드를 먼저 공부했음에도 필요에 따라
        백엔드도 도전했고<br />관심이 생겨 꾸준히 공부하는 만큼 배우는 것에도 적극적 입니다.
      </p>
      <p class="paragraph-text justify-text">
        문제를 직접 해결하며 성장하는 것을 선호하는 만큼<br />실무에서도 적극적으로 배울 준비가 되어 있습니다.
      </p>
    </div>
  </section>
</div>