<div class="section-wrapper">
  <section class="section about" id="about">
    <div id="about-text">
      <div class="section-heading">About</div>
      <p class="paragraph-text justify-text">
        제주대학교 컴퓨터공학전공 졸업예정( 23년 2월 )이며 웹 프론트엔드( React ), 백엔드( Node.js, Express )와 클라우드 서버( AWS, Docker )경험이 있습니다.
      </p>
      <p class="paragraph-text justify-text">
        문제 해결을 위해 에러 코드를 활용해 검색을 해서 방법을 찾고<br />해결이 되면 어떤 것이 문제였는지 다시 돌아보는 것이 저의 장점입니다.<br />프론트엔드를 먼저 공부했음에도 주어진 과제를 위해
        백엔드도 공부했던 만큼<br />배우는 것에도 적극적 입니다.
      </p>
      <p class="paragraph-text justify-text">
        문제를 직접 해결하며 성장하는 것을 선호하는 만큼 실무에서도 적극적으로 배울 준비가 되어 있습니다.<br>저의 개인적인 목적은 JS와 Node.js를 활용한 풀스택 개발자가 되는 것입니다.
      </p>
    </div>
  </section>
</div>